
body {


    padding-top: 57px;

    /*background-color: #F6fdff;*/
    /*background-color: #a6d2cf;*/

    /*background: rgb(246, 253, 255);*/
    /*background: linear-gradient(138deg, rgba(246, 253, 255, 1) 77%, rgba(166, 210, 207, 1) 98%);*/

    background-color: #fef5f6;

    min-height: 100vh;

}

.body-content {
    min-height: 83vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kaushan Script', cursive;
    color: #333333 !important;
}

hr {
    border: 0;
    height: 1px !important;
    background: linear-gradient(to right, rgba(51, 51, 51, 1) 1%, rgba(246, 253, 255, 1) 50%);
}

hr.regular {
    border: 0;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.navbar {
    background-color: #ffffff;
}

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
}

.delicious-red {
    color: #91363d !important;
}

.purple {
    color: #79589f !important;
}

.nav-item {
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
    margin-right: 10px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item ul.dropdown-menu {
    -webkit-transition: all 0.4s ease;;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav-item .dropdown-item {
    font-size: 17px;
}

/* BUTTONS */
.btn-primary {
    background-color: #79589f !important;
    border: 1px solid #79589f;
}
.btn-primary:hover {
    border: 1px solid #79589f;
    background-color: #fef5f6 !important;
    color: #79589f;
}

.btn-outline-primary {
    border: 1px solid #79589f;
    color: #79589f;
}
.btn-outline-primary:hover {
    background-color: #79589f;
    border: 1px solid #79589f;
    color: #fff;
}


/* Carousel images on the shop page, results page, and detail page */
.carousel-item img {
    height: 290px;
    max-height: 290px;
    object-fit: cover;
}

.cart_sidebar_product_image img {
    height: 100px;
    width: 100%;
    max-height: 100px;
    object-fit: cover;
}

.price {
    font-family: 'Crimson Pro', serif !important;
    /*font-family: 'Kaushan Script', cursive;*/
}

.order-summary-details {
    font-size: 18px;
}

.order-summary-details p {
    margin: 0;
}


footer {
    background-color: #ffffff !important;
    height: 100%;
    width: 100%;
    margin-top: 40px;
}

ul.footer-links li.list-inline-item a {
    text-transform: uppercase;
    color: #333333;
    text-decoration: none;
    font-size: 12px;
}

ul.footer-links li.list-inline-item a:hover {
    color: #000000;
    text-decoration: underline;
}
