{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-md-5 col-sm-12 col-xs-12">

            <h1>Forgot your password?</h1>
            <hr>

            {% blocktrans %}
                <p class="lead">Reset your password.</p>
                <p>
                    Enter your email in the form below and we'll send you instructions for creating a new one.
                </p>
            {% endblocktrans %}
            <form method="POST" action="">
                {% csrf_token %}
                {% crispy form %}
                <button class="btn btn-primary">Reset Password &nbsp;<i class="bi bi-arrow-right"></i></button>
            </form>

            <hr>

            <p>{% trans "Remembered your password?" %} <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>.
            </p>
            <p>{% trans "New to Macalicious?" %} <a
                    href="{% url 'registration_register' %}">{% trans "Create an account" %}</a>.</p>


        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
