{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Create an account" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4 col-sm-12 col-xs-12">

                <h1>Create an account</h1>
                <hr>

                {% include 'partials/messages.html' %}

                <form method="post" action="">
                    {% csrf_token %}
                    {% crispy form %}
                </form>

                <hr>

                <p>{% trans "Already have an account?" %} <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>.
            </div>
        </div>
    </div>

{% endblock %}
