{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Create an account" %}{% endblock %}

{% block content %}

    <div class="row justify-content-md-center mt-4">
        <div class="col-md-4 col-sm-12 col-xs-12">

            <h1>Create an account</h1>
            <hr>

            {% include 'partials/messages.html' %}

            <form method="post" action="">
                {% csrf_token %}
                {% crispy form %}
            </form>

            <hr>

            <p>{% trans "Already have an account?" %} <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>.
        </div>
    </div>

{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
