{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    Home
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-sm-12 col-xs-12">

                {% include 'partials/messages.html' %}

                {% include 'partials/featured_results.html' with macaron_sets=featured_macaron_sets macaron_collections=featured_macaron_collections %}

            </div>
        </div>
    </div>

    {# START Newsletter Form #}
    {% if newsletter_form %}

        {% include 'partials/newsletter_signup.html' %}

    {% endif %}
    {# END Newsletter Form #}

{% endblock %}