{% extends "master.html" %}
{% load order_tags %}
{% load i18n %}

{% block head_title %}
    My Orders
{% endblock %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="d-flex justify-content-between">
                <h1 class="mb-0">My Orders</h1>

                {% if pagination_object.count %}
                    <div class="d-flex align-items-end">
                        <span class="badge bg-primary d-flex align-items-center px-2" style="font-size: 12px;">
                            {{ pagination_object.count }}{% if pagination_object.count == 1 %} order {% else %}
                                orders {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>
            <hr class="mb-2">

            <div class="d-flex justify-content-between mb-3" style="font-size: 14px;">
                <p class="m-0">
                    {{ pagination_object.count }} orders placed.
                </p>

                <p class="m-0">
                    {# if no page number specified, assume its the first page #}
                    Page {% if request.GET.page %} {{ request.GET.page }} {% else %} 1 {% endif %} of
                    {{ pagination_object.num_pages }}
                </p>
            </div>

            {% if orders %}

                {% for order in orders %}

                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="mb-0 price">
                                    <b>ID: </b>&nbsp;<span class="price"
                                                           style="font-size:24px;">{{ order.code }}</span> <br>
                                </h4>
                                <p class="mb-0 price" style="font-size: 20px;">
                                    ${{ order.total }}
                                </p>
                            </div>
                        </div>
                        <div class="card-body" style="background-color:#fff;">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                {% include 'partials/cart_results.html' with cart_items=order.cart.cart_items.all %}
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <div class="d-flex justify-content-between">
                                <p class="mb-0">
                                    {{ order.created_at|timesince_custom }}
                                </p>
                                <p class="mb-0">
                                    <a href="mailto:shop.macalicious@gmail.com?subject=Order: {{ order.code }} - Concern from {{ request.user.get_full_name }}"
                                       class="email-link">Contact us</a>.
                                </p>
                            </div>
                        </div>
                    </div>

                    {% if not forloop.last %}
                        <hr>
                    {% endif %}

                {% endfor %}

                {% if orders.has_other_pages %}
                    <div class="mt-3 d-flex justify-content-between">
                        <div class="orders-previous-page">
                            {% if orders.has_previous %}
                                <a href="{% url 'orders:view' %}?page={{ orders.previous_page_number }}"
                                   class="btn btn-outline-primary">
                                    Previous Page&nbsp;&nbsp;<i class="bi bi-arrow-left"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="orders-next-page">
                            {% if orders.has_next %}
                                <a href="{% url 'orders:view' %}?page={{ orders.next_page_number }}"
                                   class="btn btn-outline-primary">
                                    Next Page&nbsp;&nbsp;<i class="bi bi-arrow-right"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

            {% else %}

                <div class="alert alert-info">
                    {% trans "You have not placed any orders, yet." %}
                </div>

            {% endif %}

        </div>
    </div>

{% endblock %}