<div class="my-1 px-3">
    {% for item in collection_macarons %}
        <li class="my-2" style="list-style-type: none;">
            <div class="d-flex align-items-center">
            <img src="{{ item.macaron.images.featured.picture.url }}"
                 alt="{{ item.macaron.images.featured.alt_text }}"
                 width="70"
                 class="rounded shadow"> &nbsp;&nbsp;&nbsp;
                <h5>{{ item.quantity }} <span class="text-muted">x</span> {{ item.macaron.name }}</h5>
                </div>
        </li>
    {% endfor %}
</div>