<div id="custom-collection-form">
    <div class="row row-cols-auto g-4">
        {% for macaron in macarons %}

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-check create-custom-collection">
                    <input type="checkbox" class="custom-collection-checkbox form-check-input"
                           value="{{ macaron.slug }}" name="macarons"
                           data-bs-placement="bottom" data-bs-toggle="tooltip" title="Select {{ macaron.name }}"
                           id="macaron_{{ macaron.slug }}"
                           onclick="macaronCheckboxClickEvent({{ custom_collection_type.quantity_flavour }});">
                    <label for="macaron_{{ macaron.slug }}" class="create-custom-collection-label" style="width: 95%;">
                        {% include 'partials/images_carousel.html' with images=macaron.images.all width="225px" height="225px" page='customcollection' %}
                        <h5 class="text-center fancy name mt-2">{{ custom_collection_type.quantity_each }} <span
                                class="text-muted">x</span> {{ macaron.name }}</h5>
                    </label>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
