<div id="custom-collection-form">
    <div class="row row-cols-1 g-4">
        {% for macaron in macarons %}

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-check create-custom-collection">
                    <input type="checkbox" class="form-check-input" value="{{ macaron.slug }}"
                           name="macarons"
                           id="macaron_{{ macaron.slug }}"
                           onclick="macaronCheckboxClickEvent({{ custom_collection_type.quantity_flavour }});">
                    <label for="macaron_{{ macaron.slug }}" class="create-custom-collection-label" style="width: 100%;">
                        {% include 'partials/images_carousel.html' with images=macaron.images.all width="100%" height="225px" page='customcollection' %}
                        <h5 class="text-center fancy name mt-2">{{ custom_collection_type.quantity_each }} <span
                                class="text-muted">x</span> {{ macaron.name }}</h5>
                    </label>
                </div>
            </div>

        {% endfor %}
    </div>
</div>
