<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Newsletter Confirmation | Macalicious</title>
</head>
<body>

<h1>Welcome{% if newsletter.first_name %}, {{ newsletter.first_name }}{% endif %}!</h1>

<h3>Details:</h3>
<ul>
    {% if newsletter.first_name and newsletter.last_name %}
        <li>Name: {{ newsletter.first_name }} {{ newsletter.last_name }}</li>
    {% endif %}
    <li>Email address: {{ newsletter.email }}</li>
</ul>

<p>You have signed up for our Newsletter.</p>

<p><a href="{% url 'newsletter:unsubscribe' newsletter.code %}">Click here</a> to unsubscribe.</p>

<h4>Macalicious</h4>
<p><a href="mailto:shop.macalicious@gmail.com" title="Email Macalicious">shop.macalicious@gmail.com</a></p>
<p><a href="{% url 'landing' %}" title="Macalicious">https://www.macalicious.ca/</a></p>

</body>
</html>