<div class="px-3 py-4 rounded shadow-sm border sticky-top add-to-cart-sidebar border-tiffany top-80"
     style="background-color: #f8f9fa;">

    <h3>Add to Cart</h3>
    <hr class="my-2">

    {% if item_name and item_price %}

        <div class="d-flex justify-content-between align-items-center">
            <div class="col-8">
                <h5 class="mb-0">{{ item_name }}</h5>
            </div>
            <div class="col-3 text-end">
                <span class="price" style="font-size:21px;">{{ item_price }}</span>
            </div>
        </div>

    {% endif %}

    <div class="mt-1">
        {% if page %}
            {% if page == 'set_detail' %}
                {% include 'partials/add_to_cart.html' with item_slug=macaron_set.slug item_type="set" %}
            {% elif page == 'collection_detail' %}
                {% include 'partials/add_to_cart.html' with item_slug=macaron_collection.slug item_type="collection" %}
            {% elif page == 'custom_collection' %}
                {% include 'partials/add_to_cart_custom_collection.html' with item_slug=custom_collection_type.slug item_type='customcollection' %}
            {% endif %}
        {% endif %}
    </div>

    <br>

    <div class="d-flex justify-content-between">
        <h4 class="mb-0">My Cart</h4>
        {% if number_of_items %}
            <div class="d-flex align-items-center text-muted">
                <small class="price" style="font-size:18px;">
                    {{ number_of_items }} {% if number_of_items == 1 %}item{% else %}items{% endif %}
                </small>
            </div>
        {% endif %}
    </div>
    <hr>

    {% include 'partials/messages.html' %}

    {% if number_of_items %}
        <div id="cart_items">
            {% for item in cart.cart_items.all %}
                <div class="d-flex justify-content-between">
                    {% if item.item_type.name == 'Macaron Custom Collection' %}
                        {% include 'partials/images_carousel.html' with images=item.content_object.get_featured_images width="100px" height="100px" %}
                    {% else %}
                        {% if item.content_object.get_featured_image %}
                            <div class="cart_sidebar_product_image">
                                <img src="{{ item.content_object.get_featured_image.picture.url }}"
                                     alt="{{ item.content_object.get_featured_image.alt_text }}"
                                     title="{{ item.content_object.get_featured_image.alt_text }}"
                                     class="rounded shadow border-tiffany">
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="p-0">
                        {% include 'partials/remove_from_cart.html' with item_slug=item.slug item_name=item.content_object.get_name %}
                    </div>
                </div>
                <div class="align-self-start mt-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col-8">
                            <h5 class="mb-0" style="font-size: 17px;">{{ item.content_object.get_name }} <small
                                    class="text-muted">x {{ item.quantity }}</small></h5>
                        </div>
                        <div class="col-3 text-end">
                            <span class="price" style="font-size:22px;">{{ item.display_total }}</span>
                        </div>
                    </div>
                </div>
                {% if not forloop.last %}
                    <hr class="regular mt-2">
                {% endif %}
            {% endfor %}
        </div>
        <hr class="regular mt-2">
        <div class="d-flex flex-column align-items-end">
            <div class="mt-0 d-flex align-items-center">
                <h4 class="mb-0">Total: </h4> &nbsp;&nbsp;&nbsp;
                <span class="price" style="font-size:24px;">{{ cart.display_total }}</span>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <a href="{% url 'cart:view' %}" class="btn btn-outline-secondary">View Cart &nbsp;<i class="bi bi-cart"></i></a>
            {% include 'partials/request_checkout.html' %}
        </div>
    {% else %}
        <p>No items.</p>
    {% endif %}

</div>