<p>
    Hi
    {% if order.user.first_name %}
        {{ order.user.first_name }}
    {% else %}
        {{ order.user.username }}
    {% endif %},
</p>

<p>Thank you for placing your order with Macalicious. Here are your order details:</p>
<p>Order: {{ order.code }}</p>
<p>Date: {{ order.created_at }}</p>
<p>Total: ${{ order.total }}</p>


<p>Your order has {{ order.cart.cart_items.count }} {% if order.cart.cart_items.count == 1 %}item{% else %}
    items{% endif %}:</p>
<ul>
    {% for item in order.cart.cart_items.all %}
        <li>{{ item.quantity }} x {{ item.content_object.get_name }} for ${{ item.total }}</li>
    {% endfor %}
</ul>

<p>Thank you for choosing Macalicious.</p>

<h4>Macalicious</h4>
<p><a href="mailto:shop.macalicious@gmail.com" title="Email Macalicious">shop.macalicious@gmail.com</a></p>
<p><a href="{% url 'landing' %}" title="Macalicious">https://www.macalicious.ca/</a></p>
