<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation | Macalicious</title>
</head>
<body>

<h1>Order: {{ order.code }}</h1>
<h3>Date: {{ order.created_at }}</h3>
<h4>Total: ${{ order.total }}</h4>

<hr>

<p>{{ order.cart.cart_items.count }} item(s).</p>

<ul>
    {% for item in order.cart.cart_items.all %}
        <li>{{ item.quantity }} x {{ item.content_object.get_name }} for ${{ item.total }}</li>
    {% endfor %}
</ul>

<p>Thank you for choosing Macalicious.</p>

<h4>Macalicious</h4>
<p><a href="mailto:shop.macalicious@gmail.com" title="Email Macalicious">shop.macalicious@gmail.com</a></p>
<p><a href="{% url 'landing' %}" title="Macalicious">https://www.macalicious.ca/</a></p>

</body>
</html>