{% extends "master.html" %}

{% block head_title %}
    Server Error
{% endblock %}

{% block content %}

    <div class="row justify-content-md-center">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <h1 class="text-center">Server Error</h1>
            <hr class="regular">
            <div class="alert alert-info delicious-red text-center" style="border:1px solid #91363d !important;">
                Something went horribly wrong. Our highly trained humans are working hard to fix this.
            </div>

        </div>
    </div>

{% endblock %}