{% extends "master.html" %}

{% block head_title %}
    {{ macaron_collection.name }}
{% endblock %}

{% block content %}

    {% if macaron_collection %}

        <div class="row justify-content-md-center">
            <div class="col-md-12 col-sm-12 col-xs-12">

                {% include 'partials/collection_disclaimer.html' with detail_page=True %}

                <div class="row justify-content-md-between">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        {% include 'partials/images_carousel.html' with images=macaron_collection.images.all detail_page=True %}
                    </div>

                    <div class="col-md-5 col-sm-12 col-xs-12 mt-3 mt-md-0">

                        <h1 class="mb-1">{{ macaron_collection.name }}</h1>

                        <span class="price"
                              style="font-size:20px;">{{ macaron_collection.get_macaron_count }} macarons</span>
                        &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                        {{ macaron_collection.display_total }}

                        <p class="mt-1">{{ macaron_collection.description|linebreaksbr }}</p>

                        {% if macaron_collection.macarons.all %}

                            <h4 class="mb-2">What's included?</h4>
                            {% include 'partials/collection_macarons.html' with collection_macarons=macaron_collection.macarons.all %}

                        {% else %}

                            <p>There are no macarons in this collection, yet.</p>

                        {% endif %}

                        {% if macaron_collection.images.gallery %}
                            <hr class="regular">

                            <div class="detail-images-gallery">

                                <h3 class="mb-0">A closer look</h3>

                                {% for image in macaron_collection.images.gallery %}
                                    {# only display 3 of the gallery images #}
                                    {% if forloop.counter0 < 3 %}
                                        <img src="{{ image.picture.url }}" alt="{{ image.alt_text }}" width="100%"
                                             class="rounded shadow-sm">
                                    {% endif %}
                                {% endfor %}

                            </div>
                        {% endif %}

                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-12 mt-4 mt-md-0">

                        {% include 'partials/cart_sidebar.html' with page='collection_detail' item_name=macaron_collection.name item_price=macaron_collection.display_price %}

                    </div>

                </div>

            </div>
        </div>

        {% if macaron_recommended_collections %}


            <hr class="mt-5 regular" style="margin-bottom:35px !important;">

            <h2>You may also like</h2>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for collection in macaron_recommended_collections %}

                    {% include 'partials/collection_results.html' %}

                {% endfor %}
            </div>


        {% endif %}

        {% if newsletter_form %}

            <div class="container">
                {% include 'partials/newsletter_signup.html' %}
            </div>

        {% endif %}

    {% endif %}

{% endblock %}
