{% extends "master.html" %}

{% block head_title %}
    {{ macaron_set.macaron.name }}
{% endblock %}

{% block content %}

    {% if macaron_set %}

        <div class="row justify-content-md-center mt-2">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="row justify-content-md-between">
                    <div class="col-md-4 col-sm-12 col-xs-12">

                        {% include 'partials/images_carousel.html' with images=macaron_set.macaron.images.all detail_page=True %}

                    </div>

                    <div class="col-md-5 col-sm-12 col-xs-12 mt-3 mt-md-0">

                        <h1 class="mb-1">{{ macaron_set.macaron.name }}</h1>

                        <p class="text-muted mb-1">
                            {% if macaron_set.macaron.tags.all %}
                                {% for tag in macaron_set.macaron.tags.all %}
                                    {{ tag.name }}
                                    {% if not forloop.last %}
                                        &middot;
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>

                        <div class="d-flex align-items-center">
                            <span class="price" style="font-size:20px;">{{ macaron_set.quantity }} macarons</span>
                            &nbsp;&nbsp;&middot;&nbsp;&nbsp;
                            {{ macaron_set.display_total }}
                        </div>

                        <p class="mt-2">{{ macaron_set.macaron.description|linebreaksbr }}</p>

                        {% if macaron_set.macaron.images.gallery %}
                            <hr class="regular">

                            <div class="detail-images-gallery">

                                <h3 class="mb-0">A closer look</h3>

                                {% for image in macaron_set.macaron.images.gallery %}
                                    {# only display 3 of the gallery images #}
                                    {% if forloop.counter0 < 3 %}
                                        <img src="{{ image.picture.url }}" alt="{{ image.alt_text }}" width="100%"
                                             class="rounded shadow-sm">
                                    {% endif %}
                                {% endfor %}

                            </div>
                        {% endif %}

                    </div>

                    <div class="col-md-3 col-xs-12 col-sm-12 mt-4 mt-md-0">

                        {% include 'partials/cart_sidebar.html' with page='set_detail' item_name=macaron_set.macaron.name item_price=macaron_set.display_price %}

                    </div>

                </div>


            </div>


        </div>

        {% if macaron_recommended_sets %}

            <hr class="mt-5 regular" style="margin-bottom:35px !important;">

            <h2>You may also like</h2>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for set in macaron_recommended_sets %}

                    {% include 'partials/set_results.html' %}

                {% endfor %}
            </div>

        {% endif %}

        {% if newsletter_form %}

            <div class="container">
                {% include 'partials/newsletter_signup.html' %}
            </div>

        {% endif %}

    {% endif %}

{% endblock %}