{% extends "master.html" %}

{% block head_title %}
    Shop
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-sm-12 col-xs-12">

                {% include 'partials/messages.html' %}

                <div class="list-group mb-4 shadow-sm d-md-none mobile-navigation-shop-links">
                    <a href="#macaron_sets" class="list-group-item list-group-item-action fancy"
                       style="font-size: 16px;">
                        Sets
                    </a>
                    <a href="#macaron_collections" class="list-group-item list-group-item-action fancy"
                       style="font-size: 18px;">
                        Collections
                    </a>
                </div>

                {% include 'partials/featured_results.html' %}

            </div>
        </div>
    </div>

    {% if newsletter_form %}

        {% include 'partials/newsletter_signup.html' %}

    {% endif %}


{% endblock %}