{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block head_title %}
    Contact
{% endblock %}

{% block content %}

    <div class="container">
        {# Check if there is a contact form instance being passed #}
        {% if contact_form %}

            <div class="row justify-content-md-center">

                <div class="col-md-5 col-sm-12 col-xs-12">

                    <h1>Contact Us</h1>
                    <hr>

                    {% if not messages %}
                        <div class="alert alert-info text-center">
                            We will get back to you within 24 hours.
                        </div>
                    {% endif %}

                    {# Contact form feedback #}
                    {% include 'partials/messages.html' %}

                    {# Contact form #}
                    {% crispy contact_form %}

                </div>

            </div>

        {% endif %}

    </div>

{% endblock %}